AWSTemplateFormatVersion: "2010-09-09"
Description: "Create an Ubuntu instnace in aws"
Resources:
  MyInstance:
    Type: "AWS::EC2::Instance"
    Properties:
      ImageId: "ami-e251209a"
      KeyName: "imsubbu"
      InstanceType: "t2.micro"
      BlockDeviceMappings:
      -
        DeviceName: "/dev/sdm"
        Ebs:
          VolumeType: "io1"
          Iops: "100"
          DeleteOnTermination: "true"
          VolumeSize: "18"