AWSTemplateFormatVersion: "2010-09-09"
Description: "Template to create imsubbu s3 bucket"
Resources:
  imsubbubucket:
    Type: "AWS::S3::Bucket"
    Properties:
      BucketName: imsubbu
      AccessControl: PublicRead
      WebsiteConfiguration:
        IndexDocument: index.html
        ErrorDocument: error.html
      Tags:
        -
          Key: Name 
          Value: imsubbu
        -
          Key: createdon
          Value: 06-24-2018
          
